[Unit]
Description=Energy Reader
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/energy_reader/start.sh
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
